/* .main-container1{
    display: flex;
    width: 100%;
}
.table1{
 margin-left: 100px;
}
@media (max-width: 400px) {
    .main-container1 {
      flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
      width: 400px;
    }
    #heading{
        text-align: center;
    }
    #MyForm{
        width: 300px;
    }
    
  }
  @media (min-width: 400px) and (max-width) {
    .main-container1 {
      flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
      width: 400px;
    }
    #heading{
        text-align: center;
    }
    #MyForm{
        width: 300px;
    }
    
  }   */ */